<a href="https://colab.research.google.com/github/mariaeduarda574/PA_Python/blob/main/Fun%C3%A7%C3%B5es_tudo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def receita():
  nome = ""
  ingredientes = []
  modopreparo = []
  nome = input("Qual receita você vai ensinar?")
  print("Receita de:",nome)
  cont = 1
  while True:
    item = input("Digite o ingrediente,\n Ou digite sair:").lower()
    ingredientes.append(item)
    cont = cont+1
    if item =="sair":
      ingredientes.remove("sair")
      break

  conte = 1
  while True:
    item = input("Digite o Modo de preparo,\n Ou digite sair:").lower()
    modopreparo.append(item)
    conte = conte+1
    if item =="sair":
      modopreparo.remove("sair")
      break
  print("Receita de:", nome)
  print("--------Ingredientes-------")
  for cadaitem in ingredientes:
    print("*", cadaitem)
  print("Receita de:", nome)
  print("--------Modo de preparo-------")
  for modo in modopreparo:
    print("1°", modo)

In [ ]:
receita()

Qual receita você vai ensinar?bolo
Receita de: bolo
Digite o ingrediente,
 Ou digite sair:massa
Digite o ingrediente,
 Ou digite sair:leite
Digite o ingrediente,
 Ou digite sair:fermento
Digite o ingrediente,
 Ou digite sair:sair
Digite o Modo de preparo,
 Ou digite sair:colocar massa com leite
Digite o Modo de preparo,
 Ou digite sair:misturar e colocar fermento
Digite o Modo de preparo,
 Ou digite sair:levar ao forno
Digite o Modo de preparo,
 Ou digite sair:sair
Receita de: bolo
--------Ingredientes-------
* massa
* leite
* fermento
Receita de: bolo
--------Modo de preparo-------
1° colocar massa com leite
1° misturar e colocar fermento
1° levar ao forno

# FUNÇÕES

Na programação, funções são blocos de código que realizam determinadas tarefas que normalmente precisam ser executadas diversas vezes dentro de uma aplicação. Quando surge essa necessidade, para que várias instruções não precisem ser repetidas, elas são agrupadas em uma função, à qual é dado um nome e que poderá ser chamada/executada em diferentes partes do programa.

## QUANDO PRECISAMOS SEGUIR UM PASSO DE INSTRUÇÕES SEMPRE QUE FOR FAZER ALGO NORMALMENTE SE CRIA FUNÇÕES, EXEMPLO, SE PRECISO CALCULAR A FOLHA DE PAGAMENTO DO FUNCIONÁRIO. TODOS OS MESES O RH PRECISA DAS SEGUINTES INFORMAÇÕES#

*   Qtde de horas Faltas
*   Qtde de dias Faltas
*   Qto o funcionário ganha por hora
*   Fez hora extra?
*   Qtdos dias trabalhados no Total?

SABE-SE QUE TODOS OS MESES ESSAS INFORMAÇÕES SÃO NECESSÁRIAS, PORÉM A FUNÇÃO QUE CALCULA TUDO ISSO JÁ FICA PRONTA, É SÓ FORNECECER AS INFORMAÇÕES(PARÂMETROS) QUE O SISTEMA CALCULA

ENTÃO PARA FICAR FÁCIL DE LEMBRAR PENSEM QUE A FUNÇÃO SÃO PROCEDIMENTOS A SEGUIR PARA REALIZAR DETERMINADA **FUNÇÃO**

![FUNCAOPYTHON.webp]()

**IMPORTANTE✈**


1.   Toda função quando declarada é proseguida por **(  )**
2.   Nem toda função tem parâmetro para ser executada
3.   Existem Funções com retorno
4.   Existem Funções sem retorno

In [ ]:
# Função sem parâmetro e sem retorno
def primeiraFunc():
  print('Hello World')

## A função é definida porém é necessário chamá-la para ver o resultado de sua execução

In [ ]:
primeiraFunc()

Hello World

In [ ]:
#Função sem retorno, sem parâmetro, porém com mais instruções
def instrucoes_curso_python():
  print('1 - Fazer a Matricula')
  print('2 - Participar de 75% das aulas')
  print('3 - Enviar Exercícios')
  print('4 - Sempre tirar suas dúvidas')
  print('5 - Realizar Quiz')
  print('6 - Obter Bom desempenho')
  print('7 - Receber Certificado!')

In [ ]:
instrucoes_curso_python()

1 - Fazer a Matricula
2 - Participar de 75% das aulas
3 - Enviar Exercícios
4 - Sempre tirar suas dúvidas
5 - Realizar Quiz
6 - Obter Bom desempenho
7 - Receber Certificado!

In [ ]:
# Definindo uma função com parâmetro
def primeiraFunc(nome):
    print('Hello %s' %(nome))

In [ ]:
primeiraFunc("Duda")

Hello Duda

In [ ]:
#Usando Laço de Repetição sem retorno
def funcLeitura():
    for i in range(0, 5):
        print("Número " + str(i+1))

In [ ]:
funcLeitura()

Número 1
Número 2
Número 3
Número 4
Número 5

In [ ]:
#Usando Laço de Repetição sem retorno
def escalacao():
  listaEscalacao = []
  qtde = int(input("Quantos jogadores vai escalar?"))
  for i in range(qtde):
    jogador = (input("Escale o Jogador" + str(i+1)))
    listaEscalacao.append(jogador)
  print("Jogadores Escalados: ", listaEscalacao)

In [ ]:
escalacao()

Quantos jogadores vai escalar?3
Escale o Jogador1dudu
Escale o Jogador2lucas
Escale o Jogador3luiz
Jogadores Escalados:  ['dudu', 'lucas', 'luiz']

In [ ]:
#Usando Laço de Repetição com retorno
def escalacao():
  listaEscalacao = []
  qtde = int(input("Quantos jogadores vai escalar?"))
  tipo = input("Para que tipo de esportes você escalar?")
  for i in range(qtde):
    jogador = (input("Escale o Jogador" + str(i)))
    listaEscalacao.append(jogador)
  return listaEscalacao, tipo

In [ ]:
#Quando você precisa manipular o retorno depois é melhor fazer a função dessa forma
variavel_recebe_retorn, esporte = escalacao()

Quantos jogadores vai escalar?4
Para que tipo de esportes você escalar?carta
Escale o Jogador0dudu
Escale o Jogador1lucas
Escale o Jogador2erick
Escale o Jogador3luiz

In [ ]:
variavel_recebe_retorn

['dudu', 'lucas', 'erick', 'luiz']

In [ ]:
esporte

'carta'

In [ ]:
print("Os Jogadores escalados foram: ", variavel_recebe_retorn )

Os Jogadores escalados foram:  ['dudu', 'lucas', 'erick', 'luiz']

In [ ]:
# Função para somar números
def addNum(firstnum, secondnum):
    print("Primeiro número: " + str(firstnum))
    print("Segundo número: " + str(secondnum))
    print("Soma: ", firstnum + secondnum)

In [ ]:
addNum(7,20)

Primeiro número: 7
Segundo número: 20
Soma:  27

In [ ]:
def horastrabalhadas(hora, minutos, valor):
  convertido = minutos/60
  result = (hora + convertido) * valor
  return result

In [ ]:
valor = horastrabalhadas(133,25,50)
valor

6670.833333333333

In [ ]:
def soma (num1, num2):
  resp = num1+num2
  return resp
def sub (num1, num2):
  resp = num1-num2
  return resp
def mult (num1, num2):
  resp = num1*num2
  return resp
def div (num1, num2):
  resp = num1/num2
  return resp

In [ ]:
mult(25,36)

900

In [ ]:
#exemplos de manipulação de retornos usando outras funções que foram realizadas anteriormente, retornando mais de um valor
def calculadora():
  calc = int(input("Calculadora Acionada, qual cálculo você quer fazer? \n Digite 1 para Somar \n Digite 2 para Subtrair \n Digite 3 para Multiplicar \n Digite 4 para Dividir"))
  valor1 = int(input("Digite o Primeiro Valor para fazer o Cálculo:"))
  valor2 = int(input("Digite o Segundo Valor para fazer o Cálculo:"))
  if calc == 1:
    resul = soma(valor1,valor2)
    tipo = " fez Soma"
  elif calc == 2:
    resul = sub(valor1,valor2)
    tipo =  "fez Subtração"
  elif calc ==3:
    resul = mult(valor1,valor2)
    tipo = "fez Multiplicação"
  elif calc ==4:
    resul = div(valor1,valor2)
    tipo = " fez Divisão"
  else:
    resul = "invalido"
    tipo = "invalido"
  if resul == "invalido":
    resul = "não digitou um valor válido pra fazer o cálculo"
  return resul, tipo

In [ ]:
resultado, tipo = calculadora()

Calculadora Acionada, qual cálculo você quer fazer?
 Digite 1 para Somar
 Digite 2 para Subtrair
 Digite 3 para Multiplicar
 Digite 4 para Dividir5
Digite o Primeiro Valor para fazer o Cálculo:3
Digite o Segundo Valor para fazer o Cálculo:6

In [ ]:
print("Você", tipo, "o resultado obtido foi: ", resultado)

Você invalido o resultado obtido foi:  não digitou um valor válido pra fazer o cálculo

In [ ]:
# Variável Global
var_global = 10  # Esta é uma variável global

def multiply(num1, num2):
    var_global = num1 * num2  # Esta é uma variável local
    print(var_global)

In [ ]:
var_global

10

In [ ]:
multiply(5,5)

25

In [ ]:
#como a variável var_global foi criada também dentro da função ele só será utilizada ali dentro.
var_global

10

In [ ]:
#caso eu tente acessar uma vaiável local:
def multiply(num1, num2):
    var_local = num1 * num2  # Esta é uma variável local
    print(var_local)

In [ ]:
multiply(2,3)

6

In [ ]:
#tentando acessar variável local
var_local

NameError: name 'var_local' is not defined

In [ ]:
# Usando a função int para converter o valor digitado, o int é uma função que alguém criou e que
idade =int(input("Digite sua idade: "))
if idade > 13:
    print("Você pode acessar o Facebook")

Digite sua idade: 15
Você pode acessar o Facebook

In [ ]:
nome = "duda"
len(nome)

4

In [ ]:
# Fazendo split dos dados
def split_string(text):
    return text.split(" ")

In [ ]:
texto = "Esta função será bastante útil para separar grandes volumes de dados."

In [ ]:
# Isso divide a string em uma lista.
print(split_string(texto))

['Esta', 'função', 'será', 'bastante', 'útil', 'para', 'separar', 'grandes', 'volumes', 'de', 'dados.']

In [ ]:
token = split_string(texto)
token[2]

'será'

In [ ]:
token[4]

'útil'

In [ ]:
caixa_baixa = "Este Texto Deveria Estar Todo Em LowerCase"

In [ ]:
def lowercase(text):
    return text.lower()

In [ ]:
lowercase(caixa_baixa)

'este texto deveria estar todo em lowercase'

In [ ]:
# Funções com número variável de argumentos
def printVarInfo( arg1, *vartuple ):
   # Imprimindo o valor do primeiro argumento
    print ("O parâmetro passado foi: ", arg1)

   # Imprimindo o valor do segundo argumento
    for item in vartuple:
        print ("O parâmetro passado foi: ", item)
    return;

In [ ]:
# Fazendo chamada à função usando apenas 1 argumento
printVarInfo(10)

O parâmetro passado foi:  10

In [ ]:
printVarInfo('Chocolate', 'Morango', 'Banana',1, True)

O parâmetro passado foi:  Chocolate
O parâmetro passado foi:  Morango
O parâmetro passado foi:  Banana
O parâmetro passado foi:  1
O parâmetro passado foi:  True

##Funçaõ com parâmetro e sem retorno

1 Exemplo

In [ ]:
def apresentar(nome):
  print(f"Prazer em te conhecer {nome}")

In [ ]:
apresentar("maria")

Prazer em te conhecer maria

In [ ]:
def verificar(numero):
  if numero % 2 == 0:
    print(f" O número {numero} é par")
  else:
    print(f" O número {numero} é impar")

In [ ]:
verificar(5)
verificar(15)
verificar(76)

 O número 5 é impar
 O número 15 é impar
 O número 76 é par

In [ ]:
def bem_vindo(nome, curso):
  print(f"Olá, {nome}! seja bem-vindo(a) ao curso de {curso}")

In [ ]:
bem_vindo("Maria","Pa")

Olá, Maria! seja bem-vindo(a) ao curso de Pa

##Funçaõ sem parâmetro e com retorno

### 1 Exemplo

In [ ]:
def mensagem():
  return "Hoje é um excelente dia para programar!"

In [ ]:
print(mensagem())

Hoje é um excelente dia para programar!

Exemplo 2 – Usando o retorno em outra função

In [ ]:
def somaquatronotas():
  nota1 = float(input("Digite sua primeira nota: "))
  nota2 = float(input("Digite sua segunda nota: "))
  nota3 = float(input("Digite sua terceira nota: "))
  nota4 = float(input("Digite sua quarta nota: "))
  total = nota1+nota2+nota3+nota4
  return total

In [ ]:
def mediaquatronotas():
  soma = somaquatronotas()
  media = soma/4
  return media

In [ ]:
print("A média das quatro notas é", mediaquatronotas())

Digite sua primeira nota: 5
Digite sua segunda nota: 6
Digite sua terceira nota: 4
Digite sua quarta nota: 2
A média das quatro notas é 4.25

##Função sem Parâmetro e sem retorno

 1 Exemplo

In [ ]:
def saudacao():
  print("Seja bem-vindo")

In [ ]:
saudacao()

Seja bem-vindo

Experimente: Crie uma função que imprima seu nome e chame-a três vezes. Veja como o código fica limpo!

In [ ]:
def nome():
  print("Maria Eduarda")

In [ ]:
nome()
nome()
nome()

Maria Eduarda
Maria Eduarda
Maria Eduarda

 2 Exemplo

In [ ]:
from datetime import datetime

def mostra_horas():
  agora = datetime.now()
  print(f"Horario atual: {agora.strftime('%H:%M:%S')}")

In [ ]:
mostra_horas()

Horario atual: 13:47:45

##Função com Parâmetro e com Retorno

1 Exemplo

In [ ]:
def soma(a,b):
  resultado = a+b
  return resultado

In [ ]:
print (soma(5,94+1))

100

para multiplicar

In [ ]:
def multiplica(a,b):
  resultado = a*b
  return resultado

In [ ]:
print(multiplica(-5,5))

-25

Exemplo de uma compra

In [ ]:
def caucular_total(preco, quantidade):
  total = preco*quantidade
  return total

In [ ]:
valor = caucular_total(26,3)
print(f"O valor total da compra é R${valor:.2f}")

O valor total da compra é R$78.00

imc

In [ ]:
def calcular_imc(peso, altura):
  imc = peso / (altura ** 2)
  return imc

In [ ]:
peso = float(input("Digite o peso em (Kg): "))
altura = float(input("Digite sua altura(m): "))

Digite o peso em (Kg): 52
Digite sua altura(m): 1.50

In [ ]:
resultado =  calcular_imc(peso, altura)
print(f"Seu IMC é {resultado:.2f}")

Seu IMC é 23.11

Agora uma função que possui mai de dois retornos

In [ ]:
def calcular_soma_e_media(a,b,c):
  soma = a + b + c
  media = soma / 3
  return soma, media

In [ ]:
n1 = float(input("Digite o primeiro número: "))
n2 = float(input("Digite o segundo número: "))
n3 = float(input("Digite o terceiro número: "))

Digite o primeiro número: 2
Digite o segundo número: 5
Digite o terceiro número: 7

In [ ]:
resultado_soma, reslutado_media = calcular_soma_e_media(n1,n2,n3)
print(f"A soma é {resultado_soma:.2f}")
print(f"A média é {reslutado_media:.2f}")

A soma é 14.00
A média é 4.67

#Exercícios Extras (slide)

## 1 Mensagem de Boas-vindas

Crie uma função chamada saudacao que não recebe parâmetros e simplesmente imprime na tela a mensagem que você escolher.

Nome da Função: boas_vindas(), escolha a saudação

 Esta é a forma mais simples: uma função que executa uma ação (impressão) sem precisar de dados externos ou retornar um resultado.
  Dica: esse tipo de função é “sem parâmetro e sem retorno”.

In [ ]:
def saudacao():
  print("Seja bem-vindo(a) ao nosso programa!!")

In [ ]:
saudacao()

Seja bem-vindo(a) ao nosso programa!!

## 2 Conversor de Temperatura

Crie uma função chamada celsius_para_fahrenheit que recebe uma temperatura em Celsius ($C$) e retorna a temperatura equivalente em Fahrenheit ($F$).

$$
F = C \times \frac{9}{5} + 32
$$

 Lembre-se de converter a fração para decimal para garantir o cálculo correto e usar o return para devolver o valor.

In [ ]:
def celsius_para_fahrenheit (celsius):
  fah = celsius * 9/5 + 32
  print(f"{celsius}°C equivalem a {fah}°F")

In [ ]:
celsius_para_fahrenheit(15)

15°C equivalem a 59.0°F

## 3 Mensagem Personalizada

Crie uma função chamada boas_vindas_personalizada que recebe um parâmetro nome (string) e imprime uma mensagem de boas-vindas usando esse nome (Ex: "Olá, [Nome]! Seja bem-vindo.").

 Esta função recebe um parâmetro, mas não precisa de um retorno, pois sua finalidade é apenas a exibição na tela.

In [ ]:
def boas_vindas_personalizada(nome):
  print(f"Seja Bem-Vindo(a) ao nosso programa {nome}")

In [ ]:
boas_vindas_personalizada("Thor")

Seja Bem-Vindo(a) ao nosso programa Thor

## 4 Quadrado e Cubo

Crie uma função chamada calcular_potencias que recebe um número n e retorna o quadrado e o cubo desse número em uma tupla.

 A função deve retornar dois valores. Lembre-se que em Python, você pode retornar múltiplos valores, que são automaticamente empacotados em uma tupla.

In [ ]:
def calcular_potencias(n):
  quadrado = n ** 2
  cubo = n ** 3
  print(f"O quadrado de {n} é {quadrado} e o cubo é {cubo}")

In [ ]:
calcular_potencias(20)

O quadrado de 20 é 400 e o cubo é 8000

## 5 Contagem Regressiva

Crie uma função chamada contagem_regressiva que recebe um número inteiro inicio e imprime todos os números de inicio até 1.

 Use um laço de repetição (for ou while) para iterar e imprimir os números sequencialmente. Não é necessário retornar nada.

In [ ]:
def contagem_regressiva (num):
  for i in range(num, 0,-1):
    print(i)

In [ ]:
contagem_regressiva(5)

5
4
3
2
1

## 6 Cálculo de Desconto

Desenvolva uma função chamada calcular_desconto que aceita valor_original e percentual_desconto como parâmetros e retorna o valor final após aplicar o desconto.

$$
\text{Valor Final} = \text{Valor Original} \times (1 - \frac{\text{Percentual Desconto}}{100})
$$

 Para calcular o percentual corretamente, divida o percentual_desconto por 100 antes de subtrair de 1.

In [ ]:
def calcular_desconto(valor_original, percentual_desconto):
  vf = valor_original * (1-percentual_desconto/100)
  print(f"Você deverá pagar agora somente {vf}")

In [ ]:
calcular_desconto(1200,10)

Você deverá pagar agora somente 1080.0

## 7 Maior e Menor

Crie uma função chamada encontrar_extremos que recebe uma lista de números e retorna o maior e o menor número da lista.

 Você pode explorar as funções nativas do Python max() e min() para uma solução concisa, ou implementar a lógica de comparação manualmente.

In [ ]:
def encontrar_extremos(qtd):
    numeros = []
    for i in range(qtd):
        num = int(input("Digite o número: "))
        numeros.append(num)

    maior = max(numeros)
    menor = min(numeros)

    print(f"O maior número que você adicionou à lista foi {maior}.")
    print(f"O menor número que você adicionou à lista foi {menor}.")

In [ ]:
encontrar_extremos(7)

Digite o número: 7
Digite o número: 14
Digite o número: 24
Digite o número: 6
Digite o número: 3
Digite o número: 2
Digite o número: 0
O maior número que você adicionou à lista foi 24.
O menor número que você adicionou à lista foi 0.

## 8 Calculadora Simples

Crie uma função chamada calculadora que recebe dois números (a e b) e uma operacao (string: 'soma', 'subtracao', 'multiplicacao', 'divisao') e retorna o resultado da operação.

 Use estruturas condicionais (if/elif/else) para determinar qual cálculo realizar e adicione uma verificação para evitar divisão por zero.

In [ ]:
def calculadora(a, b, operacao):
  if operacao == "soma":
    print(f"Resultado:{a + b}")
  elif operacao == "subtracao":
    print(f"Resltado:{a - b}")
  elif operacao == "multiplicacao":
    print(f"Resultado:{a * b }")
  elif operacao == "divisao":
    if b == 0:
      print("Não é possível dividir por zero")
    else:
      print(f"Resultado:{a / b}")
  else:
        print("Operação inválida. Use: soma, subtracao, multiplicacao ou divisao.")

In [ ]:
calculadora(200,2,"soma")
calculadora(200,2,"subtracao")
calculadora(200,2,"multiplicacao")
calculadora(200,2,"divisao")

Resultado:202
Resltado:198
Resultado:400
Resultado:100.0

## 9 Mensagem Automática

Crie uma função chamada enviar_email que recebe destinatario e assunto, e opcionalmente um corpo da mensagem. Se o corpo não for fornecido, use um texto padrão como "Este é um email automático."

 Defina o parâmetro corpo com um valor padrão (default value) na assinatura da função para torná-lo opcional.

In [ ]:
def enviar_email(destinatario, assunto , corpo = "Este é um email automático"):
  print("Enviando email...")
  print(f"Destinatário: {destinatario}")
  print(f"assunto: {assunto}")
  print(f"corpo: {corpo}")

In [ ]:
enviar_email("sla@gmail.com", "testes" ,"primeiro teste" )

Enviando email...
Destinatário: sla@gmail.com
assunto: testes
corpo: primeiro teste

In [ ]:
enviar_email("sla@gmail.com", "teste"  )

Enviando email...
Destinatário: sla@gmail.com
assunto: teste
corpo: Este é um email automático

## 10 Sistema de Notas

Desenvolva uma função chamada avaliar_aluno que recebe uma nota (número) e retorna uma string indicando a situação do aluno: "Aprovado" (nota $\ge 7$), "Recuperação" ($\ge 5$ e $< 7$) ou "Reprovado" ($< 5$).

 Lembre-se de usar operadores lógicos como and para definir os intervalos de notas de forma clara.

In [ ]:
def avaliar_aluno(nota):
  if nota >= 7:
    print("Parabéns,você foi aprovado!!")
  elif nota >= 5 and nota < 7:
    print("Você deveá fazer recuperação")
  else:
   print("Infelizmente você foi Reprovado")

In [ ]:
avaliar_aluno(8)

Parabéns,você foi aprovado!!